<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag "default_avatar", class: "avatar img-responsive img-circle" %>
    <h3 class="text-center"><%= @user.name %></h3>
  </div>
</div>
