<div class="row">
  <div class="col-md-4">
    <h4><b>Email:</b></h4>
    <h4><b>Date of Joining:</b></h4>
    <h4><b>Faculty:</b></h4>
  </div>
  <div class="col-md-8">
    <h4><%= @lecturer.user.email %></h4>
    <h4><%= @lecturer.date_of_joining %></h4>
  </div>
</div>
