<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("label_about"), about_path %></li>
      <li><%= link_to t("label_contact"), "#" %></li>
    </ul>
  </nav>
  <div class="bgl"><div class="bgr">
  <a> The System Analysis and Design Assignment </a>
  &copy; by Group 5 - Binh Thanh Nguyen 2015
</footer>
